.search-form{
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: center;
    margin-top: 10px;
}

.search-form input {
    vertical-align: middle;
    margin: 5px 10px 5px 0;
    padding: 10px;
    background-color: #fff;
    border: 1px solid #ddd;
    width:50%;
}

.search-btn {
    border: none;
    color: white;
    border:none;
    border-bottom: 2px solid #1583ab;
}