*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
  
.profile-btn{
    border:none;
    border-bottom: 2px solid #1583ab;;
    float: right;
}

.form-container{
    min-width: 100%;
    height: 100vh;
    margin: 0vw;
    padding: 5vw;
    position:relative;
}


.edit-profile h3{
    font-size: 35px ;
    text-align: center;
    color: black;
    margin: 0 0 .5vh 0;
}

.profile-form label{
    float: left;
    font-size: 15px;
    margin: 0 0 2vh 0;
    width: 200%;
}

.form-input{
    display: block;
    width: 100%;
    padding: .5rem .8rem .5rem .8rem;
    margin: .9vw 0 ;
    border:0;
    border-radius: 5px;
    font-size: 20px;
}

.form-items{
    margin: 0;
    position: absolute;
    justify-content: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.profile-body{
    width: 25%;
    margin: auto;
    padding-top: 20px;
}