body {
  background-color: #F8F8F8;
  margin: 0;
  padding: 0 0 30px 0;
  font-family: sans-serif;
}

input:focus,
input:active,
button:focus,
button:active {
  box-shadow: none !important;
}

label {
  font-weight: bold;
}

.btn{
  background-color: #1baee3;
  color: white;
  padding: 14px 20px;
  margin: 5px;
  width: 100px;
  border-radius: 8px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  align-items: center;
  justify-content: center;
  border-bottom: 2px solid #1583ab;
}

.btn:hover, .btn:active {
  background-color: #1583ab;
}
